.trafficLight {
  border: 2px solid grey;
  background-color: lightgrey;
  
}
.flex {
  display: flex;
}
.flex-right {
  justify-content: flex-end;
}
.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-between;
}
.upperSection {
  margin-bottom: 2em;
}
.lowerSection {
  margin-top: 2em;
}
.right {
  background-color: #4B4E53;
  width: 45%;
  height: 35%;
  margin-left: 2em;
}
.left {
  background-color: #4B4E53;
  margin-right: 2em;
  width: 45%;
  height: 35%;
}
.intersection {
  background-color:  #939598;
}
.timer {
  font-family: 'digital';
  color:#b30000;
  background-color: black;
  height: 1em;
  padding: 2px 2px;
}

.street{
  margin: 0 1em 0 1em;
}

.container {
  width: 90%;
  margin: auto;
  
}

.App {
  height: 100%;
}
@font-face {
  font-family: 'digital';
  src: url('./static/fonts/digital-7.regular.ttf');
}